{
  "folders": {
    "": {
      "list": ["*"],
      "download": ["*"],
      "upload": ["*"]
    },
    "Comercial": {
      "list": ["*"],
      "download": ["*"],
      "upload": ["*"]
    },
    "Assistencia Tecnica": {
      "list": ["*"],
      "download": ["*"],
      "upload": ["*"]
    }
  }
}
